---
import BaseLayout from "../layouts/BaseLayout.astro";
import CocktailItemStatic from "../components/CocktailItemStatic.astro";
import HomeInteractions from "./HomeInteractions.tsx";
import { cocktailMenu } from "@/data/cocktailMinimal";
import { fetchCocktailsFromSanity } from "@/data/fetchCocktailsFromSanity";
import { getRecipe } from "@/data/recipeUtils";

const recipes = await fetchCocktailsFromSanity();
---

<BaseLayout>
  <div class="menu__header ">
    <div class="menu__header--inner handwrite-border">
      <img src="/images/favicon.ico" alt="" />
      <div class="handwrite-en" data-home-title>The Mixology Menu</div>
    </div>
  </div>

  <nav class="category-nav">
    <div class="category-nav__inner">
      {cocktailMenu.map(({ category, categoryCh }) => (
        <a
          href={`#${category.toLowerCase().replace(/\s+/g, "-")}`}
          class="category-nav__item handwrite-ch"
          data-nav-id={category.toLowerCase().replace(/\s+/g, "-")}
        >
          {categoryCh}
        </a>
      ))}
    </div>
  </nav>

  <div class="menu__grid">
    {
      cocktailMenu.map(({ category, categoryCh, cocktails }) => (
        <div
          class="menu__section"
          id={category.toLowerCase().replace(/\s+/g, "-")}
        >
          <div class="menu__title handwrite-border">
            <span class="handwrite-ch">{categoryCh}</span>
            <span class="handwrite-en" style="margin-left: 6px;">
              {category}
            </span>
          </div>

          {cocktails.map((cocktail) => (
            <CocktailItemStatic
              cocktail={cocktail}
              recipe={getRecipe(recipes, cocktail.nameEng)}
            />
          ))}
        </div>
      ))
    }
  </div>

  <HomeInteractions client:idle recipes={recipes} />
</BaseLayout>

